@charset "UTF-8";
* {margin: 0; padding: 0;}

body {
    font-family: 'Red Hat Text', sans-serif;
	text-align: center;
	padding-left: 24px;
	padding-right: 24px;} 

#page {
    width: 928px;
    height: 1600px;
    background: white;
    margin: 24px auto;
    border: 1px solid gray;
    box-shadow: 2px 3px 6px gray;
    z-index: 0;} 

header {
    width: 928px;
    margin: 0 auto;} 
 

h1 {
    font: 40pt/1.4em 'Love Ya Like A Sister';
    margin-top: 24px;
    text-shadow: 2px 3px 6px goldenrod;} 
#banner {
	height:200px;
	width: 928px;
}
#game-container {
	align-items: flex-end;
	margin: 40px auto;
	width: 80%;
	min-height: 800px;
	position: relative;
	background-image: url('back.jpg');
	background-size: cover;
	background-position: center;}

#tree-and-apple-container {
    position: relative;
    display: inline-block;}

#tree {
  	height: 600px;
	width: auto;
	position: absolute;
    top: 50px;
    left: -300px;}

.hidden-apple {
    opacity: 0;
    pointer-events: none;}

#apple {
    position: absolute;
    cursor: grab; 
    transition: opacity 0.5s ease-in-out;}

#bucket {
	height: 200px;
	width: auto;
	position: absolute;
    bottom: 100px; 
    left: 20px;
}

.drop-target-hover {
    border-color: #ff4500 !important;
}

#grow-button {
	padding: 20px 40px;
    font: 30pt 'Red Hat Text';
    background-color: #8b4513;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#grow-button:hover {
    background-color: #a0522d;
}

#instructions {
	font: 16pt/1.4em 'Red Hat Text';
	font-weight: 600;
	padding-top: 40px;
}
#credit {
	padding: 24px;
	text-align: center;
	font: 10pt/1.4em 'Red Hat Text';
	color: slategray;
}
p {
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	font: 12pt/1.4em 'Red Hat Text';
}